body{
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

:root {
  --black: #000000;
  --white: #FFFFFF;
  --blue: #0000FF; 
  --blue-light:#87CEFA;
}

.heading p{
  text-align: center;
  font-size: 2rem; 
  font-weight: bold;
  color:var(--black);
}
.subheading{
  font-weight: bold;
  color:var(--black);
}
p{
  color:var(--black);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  text-align: justify;
}

.flex-item-left {
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  padding: 10px;
  flex: 50%;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}

.form-section{
  padding: 10px;
}
label{
  color:black;
}
button{
  background-color:var(--blue);
  border: none;
  color: var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
button:hover{
  background-color: var(--blue-light);
  border: none;
  color:var(--white);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}